body {
  margin: 0;
  height: 100%;
  background-image: url('./images/background.jpg');
}

.App:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: 'Minecraft Ten', Cambria;
  font-size: 3rem;
  color: white;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

img {
  width: 100px;
  height: auto;
}

.card {
  height: 150px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Minecraftten', Cambria;
  font-weight: Bold;
}

.score {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  font-family: 'Minecraftten', Cambria;
  font-size: 1.15rem;
  color: white;
}

.score :last-child {
  margin-left: 20px;
}
